/* src/App.css
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
  margin-right: 10px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}


form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: darkblue;
} */
